.page {
  max-width: 1280px;
  margin: 0px auto;
  font-family: 'Inter', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
  background-color: rgba(0, 0, 0, 1);
  overflow-x: hidden;
}
@media screen and (max-width: 1024px) {
  .page {
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .page {
    max-width: 80%;
  }
}
@media screen and (max-width: 320px) {
  .page {
    max-width: 100%;
  }
}
