.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url(../../../images/avatar__image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: default;
  flex-shrink: 0;
  margin: 0px 30px 0px 0px;
  z-index: 2;
}
@media screen and (max-width: 917px) {
  .profile__avatar {
    justify-self: center;
    margin: 0px 20px 0px 0px;
  }
}
@media screen and (max-width: 600px) {
  .profile__avatar {
    margin: 0px 0px 26px;
  }
}
