.element {
  max-width: 282px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 10px;
}
/* @media screen and (max-width: 368px) {
  .element {
    max-width: 95%;
  }
} */
