.element__like-button {
  grid-column: 2;
  align-self: center;
  justify-self: end;
  background-image: url(../../../images/like__button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
  width: 22px;
  height: 19px;
  border: none;
  opacity: 0.5;
  cursor: pointer;
  /* transition: opacity 0.5s; */
}

@keyframes scale {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.element__like-button:hover {
  animation: scale 1.4s ease infinite;
  /* opacity: 0.5;
  cursor: pointer; */
}
